@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
body {
    background-color: rgb(253, 253, 253);
    color : black;
    font-family: 'rokkitt', Times, serif;
    font-size: 20px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}
/* End Body */
/* Start Debug*/
.bg-aquamarine{
    background-color: rgb(9, 29, 22);
}
.bg-brown{
    background-color: rgb(134, 131, 131);
}
/* End Debug*/

/* Start container*/
.container {
 margin : 30px 3pc;
 overflow: auto;
 width: 90%;
}
/* end container*/

/* start logo */
.logo {
    text-align: center;
}
/* end logo */

/* start menu primer*/
.menu-primer ul {
    background-color: black;
    border-radius: 4px;
    box-shadow: rgba(244, 244, 253, 0.979);
}
.menu-primer li{
    border-right: 1px solid  rgba(244, 248, 245, 0.884);
    display: inline-block;
}
.menu-primer a{
    color: rgb(88, 35, 18);
    font-size: 12px;
    letter-spacing: 1px;
    padding: 10px 20px;
    display: inline-block;
    text-transform: uppercase;
}
.menu-primer a:hover {
    background-color: whitesmoke;
    color: rgb(206, 36, 36);
    text-decoration: none;

}
.menu-primer .active{
    background-color: whitesmoke;
    color: rgb(206, 36, 36);
    text-decoration: none;
}
/* End menu primer*/

/* start hyperlink*/
a:link,
a:visited{ 
    color: rgb(116, 116, 240);
    text-decoration: none;
}
a:hover,
a:active{
    color :rgba(22, 2, 2, 0.795)
}


/* end hyperlink*/

/* start heading*/
h1, h2, h3, h4, h5, h6{
    font-weight: 400;
    letter-spacing: 1px;

}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}

/* end heading*/


/* start jumbotron*/
.jumbotron{
    background-color: rgba(106, 106, 206, 0.568);
    border: 1px solid rgba(106, 106, 206, 0.568);
    border-radius: 15px;
    padding: 10px 0;
}
.jumbotron h1{
    font-size: 32px;
    padding: 0 20px;
}
.jumbotron h3{
    font-size: 20px;
    padding: 0 20px;
}

/* end jumbotron*/

/* start main*/
.main-home-one{
    float: left;
    width: 49.5%; 
}
.main-home-two{
    float: right;
    width: 49.5%; 
}
/* end end*/

/* start main*/
.main-one{
    float:left;
    overflow: auto;
    width: 70%;

}

/* end main*/

/* start sidebar*/
.sidebar-two{
    float:right;
    overflow: auto;
    width: 29%;

}
/* start sidebar*/


/* start box*/
.box-heading{
    background-color: azure;
    border: 1px solid rgb(31, 2, 2);
    border-radius: 3px 3px 0 0;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
}
.box-heading h4{
    font-size: 14px;
    margin: 0;
}
.box-isi{
    background-color: aliceblue;
    border: 1px solid rgba(26, 1, 1, 0.993);
    border-top:  0;
    margin: 0;
    padding: 10px 20px;
    

}

/* end box*/
/* start testimonial*/
.testimonial{
    border-left: 4px solid black;
    margin-left: 30px;
    padding-left: 20px;
}
/* end testimonial*/

.menu-skunder{
    background-color: azure;
    border-bottom: rgb(39, 30, 30);
    border-top: 1px solid rgb(22, 18, 18);
    overflow: auto;
    padding: 10px 0; 
}
.menu-skunder h4{
    padding: 0;
}
.menu-skunder ul{
    padding: 0;
}
.menu-skunder li{
    list-style: disc;

}
.menu-skunder li a,
.menu-skunder p
{
    font-size: 15px;

}
.menu-sekunder-one,
.menu-sekunder-two,
.menu-sekunder-three{
    float: left;
    margin: 30x;

}
.menu-sekunder-one{
    width: 40%;
}
.menu-sekunder-two,
.menu-sekunder-three{
    width: 30%;

}
.menu-skunder li img{
    vertical-align: middle;
}

/*start copyright*/
.copyright p{
    font-size: 10px;
}
/*end copyright*/