
body {
    background-color: #dadada;
    color : rgb(5, 5, 5);
    font-family: 'Times New Roman', Times, serif, Times, serif;
    font-size: 22px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}
/* End Body */
/* Start Debug*/
.bg-aquamarine{
    background-color: rgb(9, 29, 22);
    border-radius: 10px;
}
.bg-brown{
    background-color: rgb(78, 70, 70);
    border-radius: 10px;
}
/* End Debug*/

/* Start container*/
.container {
    background-color: rgb(255, 255, 255);
 margin : 30px 3pc;
 overflow: auto;
 width: 90%;
 border-radius: 10px;
}
/* end container*/

/* start logo */
.logo {
    text-align: center;
}
/* end logo */

/* start menu primer*/
.menu-primer ul {
    background-color: rgb(5, 1, 1);
    border-radius: 10px;
    box-shadow: rgba(244, 244, 253, 0.979);
}
.menu-primer li{
    border-right: 1px solid  rgba(2, 10, 4, 0.884);
    display: inline-block;
}
.menu-primer a{
    color: rgb(252, 110, 110);
    font-size: 12px;
    letter-spacing: 1px;
    padding: 10px 20px;
    display: inline-block;
    text-transform: uppercase;

}
.menu-primer a:hover {
    background-color: rgb(36, 30, 30);
    color: rgb(245, 239, 239);
    text-decoration: none;

}
.menu-primer .active{
    background-color: rgb(15, 14, 14);
    color: rgb(255, 255, 255);
    text-decoration: none;
}
/* End menu primer*/

/* start hyperlink*/
a:link,
a:visited{ 
    color: rgb(255, 238, 6);
    text-decoration: none;
}
a:hover,
a:active{
    color :rgba(238, 236, 236, 0.795);
}


/* end hyperlink*/

/* start heading*/
h1, h2, h3, h4, h5, h6{
    font-weight: 400;
    letter-spacing: 1px;

}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}

/* end heading*/


/* start jumbotron*/
.jumbotron{
    background-color: rgba(106, 106, 206, 0.568);
    border: 1px solid rgba(106, 106, 206, 0.568);
    border-radius: 15px;
    padding: 10px 0;
}
.jumbotron h1{
    font-size: 32px;
    padding: 0 20px;
}
.jumbotron h3{
    font-size: 20px;
    padding: 0 20px;
}

/* end jumbotron*/

/* start main*/
.main-home-one{
    float: left;
    width: 49.5%; 
}
.main-home-two{
    float: right;
    width: 49.5%; 
}
/* end end*/

/* start main*/
.main-one{
    float:left;
    overflow: auto;
    width: 70%;

}

/* end main*/

/* start sidebar*/
.sidebar-two{
    float:right;
    overflow: auto;
    width: 29%;

}
/* start sidebar*/


/* start box*/
.box-heading{
    background-color: azure;
    border: 1px solid rgb(31, 2, 2);
    border-radius: 10px 3px 0 0;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
}
.box-heading h4{
    font-size: 10px;
    margin: 0;
}
.box-isi{
    background-color: aliceblue;
    border: 1px solid rgba(26, 1, 1, 0.993);
    border-top:  0;
    margin: 0;
    padding: 10px 20px;
    

}

/* end box*/
/* start testimonial*/
.testimonial{
    border-left: 4px solid black;
    margin-left: 30px;
    padding-left: 20px;
}
/* end testimonial*/

.menu-skunder{
    background-color: rgb(0, 1, 3);
    color: #ffffff;
    border-bottom: rgb(39, 30, 30);
    border-top: 1px solid rgb(22, 18, 18);
    overflow: auto;
    padding: 10px 0; 
}
.menu-skunder h4{
    padding: 0;
}
.menu-skunder ul{
    padding: 0;
}
.menu-skunder li{
    list-style: disc;

}
.menu-skunder li a,
.menu-skunder p
{
    font-size: 15px;

}
.menu-sekunder-one,
.menu-sekunder-two,
.menu-sekunder-three{
    float: left;
    margin: 30x;

}
.menu-sekunder-one{
    width: 40%;
}
.menu-sekunder-two,
.menu-sekunder-three{
    width: 30%;

}
.menu-skunder li img{
    vertical-align: middle;
}

/*start copyright*/
.copyright p{
    font-size: 5px;
}
/*end copyright*/

.container-full{
    background-color: rgb(255, 255, 255);
    margin : 30px 3pc;
    overflow: auto;
    width: 90%;
    border-radius: 10px;
  
}
.containerl{
    background-color: black

  
}
.containerco {
    background-color: rgb(3, 3, 3);
 margin : 30px 3pc;
 overflow: auto;
 width: 90%;
 border-radius: 10px;
}
.containerqw {
    background-color: #dadada;
 margin : 30px 3pc;
 overflow: auto;
 width: 90%;
 border-radius: 10px;
}


@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
.snip1545 {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px;
  min-width: 13%;
  max-width: 13%;
  width: 50%;
  color: #ffffff;
  font-size: 16px;
  background-color: white;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.snip1545 *,
.snip1545 *:before,
.snip1545 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.snip1545 img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
}

.snip1545 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.snip1545 figcaption:before,
.snip1545 figcaption:after,
.snip1545 figcaption div:before,
.snip1545 figcaption div:after {
  opacity: 0;
}

.snip1545 figcaption:before,
.snip1545 figcaption:after {
  height: 50%;
  width: 50%;
  position: absolute;
  content: '';
  background-color: #ffffff;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.snip1545 figcaption:before {
  top: 0;
  left: 0;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.snip1545 figcaption:after {
  bottom: 0;
  right: 0;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}

.snip1545 figcaption div:before,
.snip1545 figcaption div:after {
  width: 50%;
  height: 50%;
  position: absolute;
  content: '';
  background-color: #ffffff;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.snip1545 figcaption div:before {
  top: 0;
  right: 0;
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.snip1545 figcaption div:after {
  bottom: 0;
  left: 0;
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}

.snip1545 i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 4em;
  z-index: 1;
  opacity: 0;
}

.snip1545 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1545:hover img,
.snip1545.hover img {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  opacity: 0.5;
}

.snip1545:hover i,
.snip1545.hover i {
  opacity: 0.7;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.snip1545:hover figcaption:before,
.snip1545.hover figcaption:before,
.snip1545:hover figcaption:after,
.snip1545.hover figcaption:after,
.snip1545:hover figcaption div:before,
.snip1545.hover figcaption div:before,
.snip1545:hover figcaption div:after,
.snip1545.hover figcaption div:after {
  -webkit-transform: rotate(0);
  transform: rotate(0);
  opacity: 0.8;
}



.malasngoding-slider { 
border: 10px solid #efefef; 
position: relative; 
overflow: hidden; 
background: #efefef;
}

.malasngoding-slider { 
margin:20px auto;
width: 768px;
height: 450px; 
}

.isi-slider img { 
width: 768px;
height: 450px; 
float: left;
}

.isi-slider { 
position: absolute; 
width:3900px;  

/*pengaturan durasi lama tampil gambar bisa di atur di bawah ini*/
animation-name:slider;
animation-duration:16s;
animation-timing-function: ease-in-out;
animation-iteration-count:infinite;
-webkit-animation-name:slider;
-webkit-animation-duration:16s;
-webkit-animation-timing-function: ease-in-out;
-webkit-animation-iteration-count:infinite;
-moz-animation-name:slider;
-moz-animation-duration:16s;
-moz-animation-timing-function: ease-in-out;
-moz-animation-iteration-count:infinite;
-o-animation-name:slider;
-o-animation-duration:16s;
-o-animation-timing-function: ease-in-out;
-o-animation-iteration-count:infinite;
}


/*saat gambar di hover oleh cursor mouse maka berhenti slide*/
.isi-slider:hover { 
-webkit-animation-play-state:paused; 
-moz-animation-play-state:paused; 
-o-animation-play-state:paused; 
animation-play-state:paused; }


.isi-slider img { 
float: right; 
}

.malasngoding-slider:after { 
font-size: 150px; 
position: absolute; 
z-index: 12; 
color: rgba(255,255,255, 0); 
left: 300px; top: 80px; 
-webkit-transition: 1s all ease-in-out; 
-moz-transition: 1s all ease-in-out; 
transition: 1s all ease-in-out; 
}

.malasngoding-slider:hover:after { 
color: rgba(255, 255, 255, 0.918);  
}



@-moz-keyframes slider {     
0% {
    left: 0; opacity: 0; 
}     
2% {
    opacity: 1; 
}     
20% {
    left: 0; opacity: 1; 
}     
21% {
    opacity: 0; 
}     
24% {
    opacity: 0; 
}     
25% {
    left: -768px; opacity: 1; 
}       
45% {
    left: -768px; opacity: 1; 
}     
46% {
    opacity: 0; 
}     
48% {
    opacity: 0; 
}     
50% {
    left: -1536px; opacity: 1; 
}     
70% {
    left: -1536px; opacity: 1; 
}     
72% {
    opacity: 0; 
}     
74% {
    opacity: 0; 
}    
75% {
    left: -2304px; opacity: 1; 
}   	
95% {
    left: -2304px; opacity: 1; 
}   	
97% { 
    left: -2304px; opacity: 0;
}   	
100% {
    left: 0; opacity: 0; 
}
} 

@-webkit-keyframes slider {     
0% {
    left: 0; opacity: 0; 
}     
2% {
    opacity: 1; 
}     
20% {
    left: 0; opacity: 1; 
}     
21% {
    opacity: 0; 
}     
24% {
    opacity: 0; 
}     
25% {
    left: -768px; opacity: 1; 
}       
45% {
    left: -768px; opacity: 1; 
}     
46% {
    opacity: 0; 
}     
48% {
    opacity: 0; 
}     
50% {
    left: -1536px; opacity: 1; 
}     
70% {
    left: -1536px; opacity: 1; 
}     
72% {
    opacity: 0; 
}     
74% {
    opacity: 0; 
}    
75% {
    left: -2304px; opacity: 1; 
}   	
95% {
    left: -2304px; opacity: 1; 
}   	
97% { 
    left: -2304px; opacity: 0;
}   	
100% {
    left: 0; opacity: 0; 
}
} 


@keyframes slider {     
0% {
    left: 0; opacity: 0; 
}     
2% {
    opacity: 1; 
}     
20% {
    left: 0; opacity: 1; 
}     
21% {
    opacity: 0; 
}     
24% {
    opacity: 0; 
}     
25% {
    left: -768px; opacity: 1; 
}     
45% {
    left: -768px; opacity: 1; 
}     
46% {
    opacity: 0; 
}     
48% {
    opacity: 0; 
}     
50% {
    left: -1536px; opacity: 1; 
}     
70% {
    left: -1536px; opacity: 1; 
}     
72% {
    opacity: 0; 
}     
74% {
    opacity: 0; 
}    
75% {
    left: -2304px; opacity: 1; 
}   	
95% {
    left: -2304px; opacity: 1; 
}   	
97% { 
    left: -2304px; opacity: 0; 
} 

100% {
    left: 0; opacity: 0; 
}
}
.container2 {
    background-color: rgb(0, 0, 0);
 margin : 30px 3pc;
 overflow: auto;
 width: 90%;
 border-radius: 10px;
}